In [1]:
a="Abdullah Bin Masood"
dir (a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [6]:
a="Abdullah Bin Masood"
print(a.capitalize())

Abdullah bin masood

In [8]:
a="Abdullah Bin Masood"
print(a.casefold())

abdullah bin masood

In [11]:
a="Abdullah Bin Masood"
print(a.center(100))

                                        Abdullah Bin Masood

In [13]:
a="Abdullah Bin Masood"
print(a.count('a'))

2

In [14]:
a="Abdullah Bin Masood"
print(a.upper())

ABDULLAH BIN MASOOD

In [15]:
a="Abdullah Bin Masood"
print(a.lower())

abdullah bin masood

In [16]:
a="Abdullah Bin Masood"
print(a.title())

Abdullah Bin Masood

In [17]:
a="Abdullah Bin Masood"
print(a.endswith("Masood"))

True

In [18]:
a="Abdullah Bin Masood"
print(a.expandtabs())

Abdullah Bin Masood

In [19]:
a="Abdullah Bin Masood"
print(a.find('o'))

16

In [21]:
a="Abdullah Bin Masood"
print(a.index("M"))

13

In [22]:
a="AbdullahBinMasood95"
print(a.isalnum())

True

In [24]:
a="AbdullahBinMasood"
print(a.isalpha())
#spaces are not alphabets returs false if you have spaces

True

In [25]:
a="Abdullah Bin Masood"
print(a.isascii())

True

In [26]:
a="Abdullah Bin Masood"
print(a.isdecimal())

False

In [27]:
a="Abdullah Bin Masood"
print(a.isdigit())

False

In [28]:
a="Abdullah Bin Masood"
print(a.isidentifier())

False

In [29]:
a="abdullah bin basood"
print(a.islower())

True

In [30]:
a="Abdullah Bin Masood"
print(a.isprintable())

True

In [31]:
a="Abdullah Bin Masood"
print(a.isspace())

False

In [32]:
a="Abdullah Bin Masood"
print(a.istitle())

True

In [34]:
a="                 Abdullah Bin Masood                 "
print(len(a))
print(a.strip())
print(len(a.lstrip()))
print(len(a.rstrip()))
print(len(a.strip()))

53
Abdullah Bin Masood
36
36
19

In [35]:
a="Abdullah Bin Masood"
b= a.split()
b

['Abdullah', 'Bin', 'Masood']

In [36]:
a="Abdullah Bin Masood"
a

'Abdullah Bin Masood'

In [37]:
#List[start:end:step]
#aTuples[start:end:step]
#String[start:end:step]

print(a)
print(a[::])
print(a[7:15:])
print(a[::-1])

Abdullah Bin Masood
Abdullah Bin Masood
h Bin Ma
doosaM niB halludbA

In [38]:
card = """
Bahria University Islamabad
name: Abdullah Bin Masood 
Father_name: Masood Akhtar Selman
Program: PIAIC
"""

print(card)

Bahria University Islamabad
name: Abdullah Bin Masood
Father_name: Masood Akhtar Selman
Program: PIAIC

In [39]:
name = "Abdullah Bin Masood "
fname = "Masood Akhtar Selman"
program = "PIAIC"
s = 200

card = """
Bahria University Islamabad
name: %s
Father_name: %s
Program: %s
Score: %d
"""

print(card%(name,fname,program,s))

Bahria University Islamabad
name: Abdullah Bin Masood
Father_name: Masood Akhtar Selman
Program: PIAIC
Score: 200

In [40]:
name = "Abdullah Bin Masood "
fname = "Masood Akhtar Selman"
program = "PIAIC"
s = 200

card = """
Bahria University Islamabad
name: {}
Father_name: {}
Program: {}
Score: {}
"""

print(card.format(name,fname,program,s))

Bahria University Islamabad
name: Abdullah Bin Masood
Father_name: Masood Akhtar Selman
Program: PIAIC
Score: 200

In [41]:
name = "Abdullah Bin Masood "
fname = "Masood Akhtar Selman"
program = "PIAIC"
s = 200

card = """
Bahria University Islamabad
name: {3}
Father_name: {1}
Program: {2}
Score: {0}
"""

print(card.format(name,fname,program,s))

Bahria University Islamabad
name: 200
Father_name: Masood Akhtar Selman
Program: PIAIC
Score: Abdullah Bin Masood